.galleryImagesGrid{
    column-count: 2;
    column-rule-width: "33%";
    -webkit-column-count: 3;
    /* -moz-column-count: 4, */
    -webkit-column-rule-width: "33%";
    /* MozColumnRuleWidth: "33%", */
    padding: 0 10px;


}




.tendencias{
    
    font-size: 20px;
}

.tendencias h4{
    color:#1a74f0;

}

.tendencias label{
    
    margin: 10px;
    margin-left: 15px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
  
}



.tendencias label:hover{
    color: #277cf3;
    font-size: 18px;
  
  
    
    
}
    


@media (max-width: 900px) {
    .galleryImagesGrid{
        column-count: 1;
        -webkit-column-count: 1;
        -moz-column-count: 1,
     
    }
    .tendencias{
        font-size: 14px;
    }
    .logoTitulo{
        font-size: 15px;
    }
    .button {
        width: 20px;
    }
    .input{
        width: 20px;
    }

  }